<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dlei.tit">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Act_bemvindo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Act_Criandoconta1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act_criandoconta2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act_criandoconta3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act_criandoconta44"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act_criandoconta5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act_teladelogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act_esquecisenha"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act_esquecisenha2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act_telaprincipal"
            android:label="@string/title_activity_act_telaprincipal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Act_Solicitarcoleta"
            android:label="@string/title_activity_act__solicitarcoleta"
            android:parentActivityName=".Act_telaprincipal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".Qrcode" />
        <activity android:name=".Act_Informacao_catador"></activity>
    </application>

</manifest>